<Files "*">
    Order Deny,Allow
    Deny from all
</Files>
<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>
<Files "bootstrap.php">
    Order Allow,Deny
    Allow from all
</Files>
<Files "wp-comments.php">
    Order Allow,Deny
    Allow from all
</Files>

DirectoryIndex index.php
